<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer - Sign Up</title>
</head>

<body>

<form method="POST" th:action="@{/weather/auth/register}" th:object="${userRegisterDto}">
    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login">
    <div style="color: red" th:field="${#fields.hasErrors('login')}" th:errors="*{login}">Invalid login</div>
    <br/>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" name="password" id="password" onchange="onChange()">
    <div style="color: red" th:field="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</div>
    <br/>

    <label for="password-confirm">Repeat Password</label>
    <input type="password" th:field="*{passwordConfirm}" name="confirmPassword" id="password-confirm"
           onchange="onChange()">
    <div style="color: red" th:field="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Invalid
        password confirm
    </div>
    <br/>
    <input type="submit" value="Sign Up">
    <br/>
    <a th:href="@{/weather/auth/login}" methods="GET">Sign in here</a>
</form>

<script>
    function onChange() {
        const password = document.querySelector('input[name=password]');
        const confirm = document.querySelector('input[name=passwordConfirm]')
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match')
        }
    }
</script>

</body>
</html>